<!DOCTYPE html>
<html>
  <head>
    <title>Your virtual bar</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


      <!-- <link rel="stylesheet" href="../../../node_modules/magic.css"> -->
      <!-- <link rel="stylesheet" href="node_modules/magic.css"> -->


      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <%= yield %>
      <%= stylesheet_link_tag    'application' %>
      <%= javascript_include_tag 'application' %>
  </body>
</html>
